#home {
  --header-background-color: #3b4d61;
  /* background-color: var(--header-background-color); */
  display: flex;
  flex-direction: column;
  gap: 3em;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  padding: 10em 0;
}

#home p,
h1 {
  margin: 0;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header>div {
  /* background-color: var(--header-background-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em;
  border-bottom: thin solid var(--theme-color);
  max-width: 50em;
}

.social-links {
  display: flex;
  gap: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: thin solid var(--theme-color);
}

.social-links a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.social-links a:hover {
  background-color: var(--hover-background-color-muted);
  border-radius: 50%;
}

#home nav ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#home nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-bottom: thin solid var(--theme-color);
  padding: 0.5em 0.5em;
}
#home nav a:hover {
  filter: brightness(80%);
}

#home .services>ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  padding: 1em 2em;
  list-style: none;
  margin: 0;
}

#home .services{
  padding: 2em;
}

/* #home .skills{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  width: 100%;
  padding: 2em 2em;
  overflow: auto;
}

.skills ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
}

.skills .skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
} */

