#home {
  --header-background-color: #3b4d61;
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10em 10vw;
}

#home p,
h1 {
  margin: 0;
}

.header {
  background-color: var(--header-background-color);
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-bottom: thin solid var(--theme-color);
}

.social-links {
  display: flex;
  gap: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: thin solid var(--theme-color);
}

.social-links a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.social-links a:hover {
  background-color: var(--hover-background-color-muted);
  border-radius: 50%;
}

#home nav ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#home nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-bottom: thin solid var(--theme-color);
  padding: 0.5em 0.5em;
}
#home nav a:hover {
  filter: brightness(80%);
}
