.not-found {
  height: 100%;
  display: flex;
  gap: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found h1 {
  margin: 0;
  color: var(--theme-color);
  font-size: 2em;
  line-height: 1.2;
}

.tiny-text {
  font-size: 0.5em;
  font-weight: 300;
  font-style: italic;
}

.not-found > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found .quote {
  margin: 0;
  color: var(--text-color);
  font-size: 1em;
  line-height: 1;
  border: 5px double var(--theme-color);
  padding: 1em;
}

.not-found .quote-text {
  margin: 0;
  color: var(--text-color);
  font-size: 0.8em;
  line-height: 1;
}

.not-found .quote-author {
  margin: 0;
  color: var(--text-color);
  font-size: 0.8em;
  font-style: italic;
  line-height: 1;
  text-align: right;
}

.not-found a {
  color: var(--theme-color);
  text-decoration: underline;
}
