* {
  --theme-color: #daa520;
  --main-background-color: #3b4d61;
  --text-color: #f8f8ff;
  color: var(--text-color);
  box-sizing: border-box;
  line-height: 1.5em;
}
.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.padded-all {
  padding: 2em;
}

.theme-colored {
  color: var(--theme-color);
}

#app {
  flex: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-container {
  flex: 1;
  /* min-height: 95vh; */
  background-color: var(--main-background-color);
}

nav ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
