* {
  --theme-color: var(--color-secondary);
  /* --theme-color: #daa520; */
  --main-background-color: #3b4d61;
  --hover-background-color-muted: hsl(0, 0%, 69%, 0.2);
  --text-color: #f8f8ff;
  --text-color-muted: hsl(0, 0%, 69%);
  color: var(--text-color);
  box-sizing: border-box;
  line-height: 1.5em;
  transition: all 0.2s ease-in;
}
.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.padded-all {
  padding: 2em;
}

.theme-colored {
  color: var(--theme-color);
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-container {
  flex: 1;
  /* background-color: var(--main-background-color); */
}

nav ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

  .footer .social-links{
    border: none;
  }

.link-button {
  text-decoration: none;
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  border: thin solid var(--theme-color);
  padding: 0.5em 1em;

}

.link-button:hover {
  background-color: var(--color-button-background-hover);
  color: var()
}

.grayscale {
  filter: grayscale(100%);
}

.row{
  display: flex;
  flex-direction: row;
}

.space-between{
  justify-content: space-between;
}